img {
	margin: 10px 0px;
}

div {
	margin: 50px 10px;
}

body {
	font-family: Arial, Verdana;
	padding: 6px 20px;
}

h4 {
  margin-bottom: 0px;
}

ul.groups {
  max-width: 1000px;
  padding: 0px;
}

ul.groups > li {
  padding: 2px 0px;
}

ul {
  list-style-type: none;
  padding: 0px 10px;
}

li p {
  margin-top: 6px;
}